In [7]:
import os
import pandas as pd

In [5]:
file_list=os.listdir('./')
name = file_list[1:-1]

In [29]:
df1= pd.read_csv('en_car_black.csv')
df2= pd.read_csv('en_car_blue.csv')
df3= pd.read_csv('en_car_brown.csv')
df4= pd.read_csv('en_car_carrot.csv')
df5= pd.read_csv('en_car_deep_green.csv')
df6= pd.read_csv('en_car_gold.csv')
df7= pd.read_csv('en_car_gray.csv')
df8= pd.read_csv('en_car_green.csv')
df9= pd.read_csv('en_car_light_gold.csv')
df10= pd.read_csv('en_car_light_green.csv')
df11= pd.read_csv('en_car_pearl.csv')
df12= pd.read_csv('en_car_red.csv')
df13= pd.read_csv('en_car_silver.csv')
df14= pd.read_csv('en_car_silver_gray.csv')
df15= pd.read_csv('en_car_sky.csv')
df16= pd.read_csv('en_car_white.csv')

In [33]:
df1['color']='검정색'
df2['color']='파랑색'
df3['color']='갈색'
df4['color']='주황색'
df5['color']='초록색'
df6['color']='금색'
df7['color']='회색'
df8['color']='초록색'
df9['color']='금색'
df10['color']='초록색'
df11['color']='흰색'
df12['color']='빨간색'
df13['color']='회색'
df14['color']='회색'
df15['color']='파랑색'
df16['color']='흰색'

['en_car_black.csv',
 'en_car_blue.csv',
 'en_car_brown.csv',
 'en_car_carrot.csv',
 'en_car_deep_green.csv',
 'en_car_gold.csv',
 'en_car_gray.csv',
 'en_car_green.csv',
 'en_car_light_gold.csv',
 'en_car_light_green.csv',
 'en_car_pearl.csv',
 'en_car_red.csv',
 'en_car_silver.csv',
 'en_car_silver_gray.csv',
 'en_car_sky.csv',
 'en_car_white.csv']

In [34]:
df_all = pd.DataFrame()
df_all=pd.concat([df_all,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16])

,Unnamed: 0,brand,mile,name,fuel,price,year,model,location,color
0,0,BMW,77022.0,5시리즈 (F10),가솔린,1550.0,2010.0,528i,서울,검정색
1,1,아우디,65525.0,뉴 A6,디젤,2950.0,2016.0,40 TDI 콰트로,대구,검정색
2,2,사브,122481.0,9-3,가솔린,290.0,2003.0,2.0T 아크,경기,검정색
3,3,험머,174000.0,H3,가솔린,1850.0,2006.0,3.5,경기,검정색
4,4,미니,121666.0,쿠퍼 D 컨트리맨,디젤,1090.0,2012.0,기본형,충남,검정색
...,...,...,...,...,...,...,...,...,...,...
11853,11853,벤츠,11130.0,E-클래스 W213,가솔린,6749.0,2017.0,E400 4MATIC 쿠페,경기,흰색
11854,11854,벤츠,46000.0,뉴 SLK-클래스,가솔린,2700.0,2012.0,200 블루이피션시,서울,흰색
11855,11855,포르쉐,113180.0,파나메라,가솔린,5800.0,2015.0,3.6 AWD,경기,흰색
11856,11856,벤츠,148609.0,E-클래스 W212,가솔린,2650.0,2016.0,E200 카브리올레,경기,흰색
11857,11857,아우디,48758.0,뉴 A4,디젤,1430.0,2015.0,30 TDI,경기,흰색

In [35]:
del df_all['Unnamed: 0']

In [36]:
df_all['mile'] = df_all.mile.astype('int')
df_all['year'] = df_all.year.astype('int')
df_all['price'] = df_all.price.astype('int')

In [18]:
del df_all['Unnamed: 0']

In [24]:
df_all['mile'] = df_all.mile.astype('int')
df_all['year'] = df_all.year.astype('int')
df_all['price'] = df_all.price.astype('int')

In [43]:
df_all['color'] = df_all['color'].replace(['파랑색','갈색','주황색','초록색','금색','빨간색'],'기타')

,brand,mile,name,fuel,price,year,model,location,color
0,BMW,77022,5시리즈 (F10),가솔린,1550,2010,528i,서울,검정색
1,아우디,65525,뉴 A6,디젤,2950,2016,40 TDI 콰트로,대구,검정색
2,사브,122481,9-3,가솔린,290,2003,2.0T 아크,경기,검정색
3,험머,174000,H3,가솔린,1850,2006,3.5,경기,검정색
4,미니,121666,쿠퍼 D 컨트리맨,디젤,1090,2012,기본형,충남,검정색
...,...,...,...,...,...,...,...,...,...
11853,벤츠,11130,E-클래스 W213,가솔린,6749,2017,E400 4MATIC 쿠페,경기,흰색
11854,벤츠,46000,뉴 SLK-클래스,가솔린,2700,2012,200 블루이피션시,서울,흰색
11855,포르쉐,113180,파나메라,가솔린,5800,2015,3.6 AWD,경기,흰색
11856,벤츠,148609,E-클래스 W212,가솔린,2650,2016,E200 카브리올레,경기,흰색
11857,아우디,48758,뉴 A4,디젤,1430,2015,30 TDI,경기,흰색

In [52]:
df_all.reset_index(drop = True,inplace = True)
df_all

,brand,mile,name,fuel,price,year,model,location,color
0,BMW,77022,5시리즈 (F10),가솔린,1550,2010,528i,서울,검정색
1,아우디,65525,뉴 A6,디젤,2950,2016,40 TDI 콰트로,대구,검정색
2,사브,122481,9-3,가솔린,290,2003,2.0T 아크,경기,검정색
3,험머,174000,H3,가솔린,1850,2006,3.5,경기,검정색
4,미니,121666,쿠퍼 D 컨트리맨,디젤,1090,2012,기본형,충남,검정색
...,...,...,...,...,...,...,...,...,...
32967,벤츠,11130,E-클래스 W213,가솔린,6749,2017,E400 4MATIC 쿠페,경기,흰색
32968,벤츠,46000,뉴 SLK-클래스,가솔린,2700,2012,200 블루이피션시,서울,흰색
32969,포르쉐,113180,파나메라,가솔린,5800,2015,3.6 AWD,경기,흰색
32970,벤츠,148609,E-클래스 W212,가솔린,2650,2016,E200 카브리올레,경기,흰색
32971,아우디,48758,뉴 A4,디젤,1430,2015,30 TDI,경기,흰색

In [53]:
df_all.to_csv("en_car_all_foreign.csv")